html {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

h1 {}
h2 {
  margin: ($gap * 4) 0 ($gap * 3) ($gap * 3);
  font-family: $font-header;
  @include xs-min {
    font-size: 2.5rem;
  }
  @include xs {
    font-size: 1.75rem;
  }
}
h3 {
  @include xs-min {
    font-size: 1.5rem;
  }
  @include xs {
    font-size: 1.25rem;
  }
}
section {}
