.left-sidebar {
  margin-bottom: $gap * 4;

  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.top-films {
  &-body {
    padding-left: 0;
    padding-right: 0;
  }

  &-list {
    margin-bottom: 0;
  }

  &-item {
    padding: 0;
    margin-left: -1px;
    margin-right: -1px;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid $color-gray;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }

    &:hover {
      background-color: $color-accent;

      a {
        color: $color-light;
      }

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &-badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  a {
    display: block;
    padding: 10px 40px 10px $gap;
  }
}

.site-news-item:hover .site-news-item__img {
  border-color: #df8a13;
  background-color: #df8a13;
  transition: 0.5s;
}

.site-news-item:hover .site-news-item__text a {
  color: #df8a13;
  transition: 0.5s;
}


.site-news {
  
  &-item:not(:last-child){
    margin: 0 0 15px;
  }
  &-item{
    min-height: 85px;
    position: relative;
  
    &__img{
      width: 75px;
      float: left;
      margin: 0 10px 10px 0;
    }
    &__text{
      overflow: hidden;
      height: 50px;
      margin-bottom: 10px;
    }
    &__date{
      text-align: right;
      font-size: 0.8rem;
      color: #909090;
     
    } 
    a {
      transition: color 0.25s;

      @include block-shortener(1rem, 1.5, 50px, 2);
    }
    &:not(:last-child){
        &::after{
        content: " ";
        position: absolute;
        height: 1px;
        width: calc(100% - 85px);
        bottom: -5px;
        background-color: #dddddd;
        
      }
    }
  }
}